<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Video Call</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Simple Video Call</h1>
        <div class="video-container">
          <video id="localVideo" autoplay muted playsinline></video>

            <video id="remoteVideo" autoplay playsinline></video>     
       </div>
        <div class="controls">
            <button id="startButton" onclick="startCall()">Start Call</button>
            <button id="hangupButton" disabled>Hang Up</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="js\config.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>